/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
html {
  background: yellow;
}
html {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/Images/bookstack.jpg);
  background-attachment: fixed;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
body .top-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 100vh;
}
body .top-content .logo .logo-image {
  width: 200px;
  margin-top: 2rem;
  padding: 2rem 1rem 2rem 2rem;
  background: #99aabb;
  margin-bottom: -2px;
  border-radius: 0.5rem;
}
body .top-content .top-nav {
  padding: 0;
  width: 50%;
  margin-top: 2rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
body .top-content .top-nav a {
  padding: 1rem;
  border-radius: 1rem;
  background: #99aabb;
  text-decoration: none;
  color: #221100;
}
body .top-content div .down-button {
  position: absolute;
  bottom: 2rem;
}
body .content-box {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  background: yellow;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
body .content-box .content {
  background: beige;
  height: 80%;
}
body .content-box .down-button {
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 2rem solid black;
  margin-bottom: 2rem;
  cursor: pointer;
}
body .content-box .up-button {
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid black;
  margin-top: 2rem;
  cursor: pointer;
}
body [data-content="1"],
body [data-content="3"] {
  background: green;
}
