// @color-light-blue
// @color-dark-green
// @color-light-green
// @color-dirty-green
// @color-tan
// @color-wood-brown
// @color-desert
// @color-clam-shell
// @color-light-brown
// @color-brown

::-webkit-scrollbar {
    display:none;
}

html {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    background-image: url(/Images/pretty\ trees.jpg);
    background-attachment: fixed;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    @media @phone {
        width: 100%;
    }

    .content-box[data-section = '0'] {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 100vh;

        @media @phone {
            width: 90%;
        }
    
        .top-bar {
            display: flex;
            width: 100%;
            justify-content: space-between;
            
            .logo-image {
                object-fit: scale-down;
                height: 100px;
                width: 200px;
                margin-top: 2rem;
                padding: 2rem 1rem 2rem 2rem;
                background: @color-clam-shell;
                margin-bottom: -2px;
                border-radius: .5rem;
            }
        }
    
        .top-nav {
            padding: 0;
            width: 10rem;
            text-align: center;
            margin-top: 2rem;
            height: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 2rem;

            .ham {
                align-self: flex-end;
                height: 5rem;
                width: 5rem;
                background: @color-clam-shell;
                border-radius: 50%;
                cursor: pointer;

                .burger {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 27.5%;        

                    span {
                        width: 3rem;
                        background: @color-dark-green;
                        border: 2px solid @color-dark-green;
                        border-radius: .5rem;
                        margin-bottom: 5px;
                    }
                }
            }
    
            a {
                margin-top: 1rem;
                padding: 1rem;
                border-radius: .5rem;
                border: 1px solid @color-clam-shell;
                background: @color-clam-shell;
                text-decoration: none;
                color: @color-dark-green;

                &:hover {
                    background: none;
                    color: @color-clam-shell;
                }
            }
        }

        .random-quote {
            font-size: 2rem;
            color: @color-clam-shell;
            text-align: center;
        }

        div .down-button {
            position: absolute;
            bottom: 2rem;
        }
    }

    .main-content {
        width: 100%;
    }
    
    .content-box {
        display: flex;
        flex-direction: column;
        font-size: 5rem;
        // background: red;
        height: 100vh;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .content {
            border-radius: .5rem;
            background: rgba(34, 68, 68, .8);
            display: flex;
            width: 100%;
            height: 80%;
            align-items: center;

            p {
                width: 50%;
                height: auto;
                background: @color-clam-shell;
                color: @color-dark-green;
                margin: 0 5rem;
                border-radius: .5rem;
                padding: 2rem;
                text-align: center;
                text-justify: auto;

                @media @phone {
                    color: @color-clam-shell;
                    width: 100%;
                    margin: 0;
                    background: none;
                    background-size: cover;
                    border-radius: 0.5;
                }
            }

            img {
                object-fit: contain;
                // border-radius: 100%;
                border: 5rem solid transparent;
                // height: 100%;
                height: 75%;
                width: 50%;

                @media @phone {
                    display: none;
                }
            }
        }

        .down-button {
            width: 4rem; 
            height: 4rem;
            transform: rotate(-180deg);
            text-align: center;
            color: @color-dark-green;
            background: @color-clam-shell;
            border: .2rem solid @color-clam-shell;
            margin-bottom: 1rem;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                background: transparent;
                border: 2px solid @color-clam-shell;
                color: @color-clam-shell;
            }
        }

        .up-button {
            width: 4rem; 
            height: 4rem; 
            text-align: center;
            align-items: center;
            color: @color-dark-green;
            background: @color-clam-shell;
            border: .2rem solid @color-clam-shell;
            margin-top: 1rem;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                background: transparent;
                border: 2px solid @color-clam-shell;
                color: @color-clam-shell;
            }
        }
    }

    footer {
        display: flex;
        height: 10vh;
        width: 50%;
        overflow: hidden;
        margin-top: -10vh;
        justify-content: space-around;
        justify-self: flex-start;
        align-items: center;

        @media @phone {
            width: 90%;
        }

        img {
            object-fit: contain;
            height: 5vh;
        }
    }
}

.hide {
    visibility: hidden;
}


// open menu
.uno-equis {
    animation-name: uno-equis;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.top-bun-spin {
    animation-name: top-bun-spin;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.patty-go-away {
    animation-name: patty-go-away;
    animation-duration: 50ms;
    animation-fill-mode: forwards;
}

.bottom-bun-spin {
    animation-name: bottom-bun-spin;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes uno-equis {
    100% {
        padding-top: 45%;
    }
}

@keyframes top-bun-spin {
    100% {
        transform: rotate(45deg);
        margin-bottom: -12px;   
    }
}

@keyframes patty-go-away {
    100% {
        visibility: hidden;
    }
}

@keyframes bottom-bun-spin {
    100% {
        transform: rotate(-45deg);
        margin-bottom: 12px;      
    }
}


// closed menu
.no-mas-equis {
    animation-name: no-mas-equis;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.top-bun-spin-back {
    animation-name: top-bun-spin-back;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.patty-come-back {
    animation-name: patty-come-back;
    animation-delay: 200ms;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.bottom-bun-spin-back {
    animation-name: bottom-bun-spin-back;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes no-mas-equis {
    100% {
        padding-top: 27.5%;
    }
}

@keyframes top-bun-spin-back {
    100% {
        transform: rotate(0deg);
        margin-bottom: 5px;
    }
}

@keyframes patty-come-back {
    100% {
        visibility: visible; 
    }
}

@keyframes bottom-bun-spin-back {
    100% {
        transform: rotate(0deg);
        margin-bottom: 5px;
    }
}